<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <p>Copyright &copy; Nikita Bokil, Akash Kejriwal, Sophie Zhao 2016</p>
        </div>
    </div>
</div>