<center>
	<h2 class="brand-before">
		<small>Welcome to</small>
	</h2>
	<h1 class="brand-name">JamSeek</h1>
	<hr class="tagline-divider">
	<br>
	<div class="col-md-4"></div>
	<div class="col-md-4">
	    <p>Find the music you've been dying to listen to!</p>
	</div>
	<div class="col-md-4"></div>
	<br>

	<div class="col-md-6">
		<h2>Leaderboard</h2>
		<div id="leaderboard"></div>
	</div>

	<div class="col-md-6">
		<h2>Profile</h2>
		<div id="profile"></div>
	</div>
</center>
